html {
    background-color: #aaaaaa;
}

body{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 100%;
    margin: 10px auto;
    color: #333333;
    width: 800px;    
}

h1 {
    font-size: 2.3em;
}

h2 {
    font-size: 1.8em;
}

#sitename, #content, #footer {
    padding: 10px;
}

#header, #content, #footer {
    background-color: #888888;
    margin-bottom: 10px;
}

div#header .title {
    padding: 0;
}

.title {
    margin: 0;
    padding-bottom: 10px;
}

div#nav{
    height: 40;
    font-size: 120%;
}

div#nav ul{
    list-style: none;
    margin: 0;
}

div#nav ul li {
    padding: 4 12;
    margin: 5 0;
    float: left;
    border-left: 1px solid #ffffff;
}

div#nav ul li.right {
    float: right;
}

div#nav ul li:first-child {
    margin-left: -40px;
}

div#nav ul li:first-child, div#nav ul li:last-child {
    border-left: 0;
}

a {
	color: #eeeeee;
	text-decoration: none;
}

a:hover {
    color: #333333;
}

div#footer {
    margin-bottom: 0;
}

div#footer #copyright {
    margin: 0;
}

form {
    margin-bottom: 0;
}

form div {
    margin: 5px 0;
}

form fieldset, input {
    border: 1px solid #000000;
    border-radius: 2px;
}

form input {
    padding: 2px;
}

form input:read-only {
    color: #777777;
}

form label {
    width: 110px;
    text-align: right;
    float: left;
    padding-right: 5px;
}

form input {
    background-color: #dddddd;
}

form input[type=submit] {
    width: 115px;
    margin-top: 10px;
}

form input[readonly="readonly"] {
    background-color: transparent;
    color: #333333;
}

form img {
    float: right;
}

table#usertable {
    width: 100%;
    border-collapse: collapse;
}

table#usertable td, table#usertable th {
    font-size: 1em;
    border: 1px solid #666666;
    padding: 3px 7px 2px 7px;
}

table#usertable th {
    font-size: 1.1em;
    text-align: left;
    padding-top: 5px;
    padding-bottom: 4px;
    background-color: #333333;
    color: #eeeeee;
}

table#usertable tr.alt td {
    color: #000000;
    background-color: #eaf2d3;
}

